<section class="landing-section h-screen w-screen relative text-center overflow-hidden"
  data-header-color="white"
>
  <div class="z-30 flex flex-col h-full relative">
    <header class="flex flex-col relative">
      <h2 class="text-white pt-40 text-[40px] font-medium">Enjoy tesla</h2>
      <p class="text-white text-sm">Schedule a test drive right now!</p>
    </header>
    <footer
      class="relative flex pb-20  flex-col grow flex-nowrap justify-end"
    >
      <div>
        <a href="#" class="border-[3px] hover:bg-white border-white bg-white/5 backdrop-blur-sm
        hover:text-black duration-300 inline-block rounded font-medium px-12 py-2 text-white">Test Drive</a>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video autoplay muted loop slot="background" class="object-center object-cover h-full w-full" src="/video.webm"
    >
  </video>
  </div>
</section>