<section class="h-screen w-screen relative text-center overflow-hidden">
  <div class="z-30 flex flex-col h-full relative">
    <header class="flex flex-col relative">
      <h2 class=" pt-40 text-[40px] font-medium text-black">Model Y</h2>
      <p class="text-white text-sm underline">Schedule a test drive right now!</p>
    </header>
    <footer
      class="flex pb-20 flex-col grow justify-end"
    >
      <div class="flex mx-auto gap-x-6">
        <a href="#" class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:bg-gray-500 ">
          Test Drive
        </a>
        <a href="#" class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"> 
          Test Drive
        </a>
      </div>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img src="/public/ModelY.jpeg" alt=" ModelY" class=" h-full w-full object-cover object-center">
  </div>
</section>